<%= form_for(@beacon) do |f| %>
  <% if @beacon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beacon.errors.count, "error") %> prohibited this beacon from being saved:</h2>

      <ul>
      <% @beacon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descrizione %><br>
    <%= f.text_field :descrizione %>
  </div>
  <div class="field">
    <%= f.label :UUID %><br>
    <%= f.text_field :UUID %>
  </div>
  <div class="field">
    <%= f.label :major %><br>
    <%= f.text_field :major %>
  </div>
  <div class="field">
    <%= f.label :minor %><br>
    <%= f.text_field :minor %>
  </div>
  <div class="field">
    <%= f.label :user_id , :hidden => true%><br>
    <%= f.text_field :user_id , :value =>current_user.id , :class => 'text_field', :hidden => true%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
