<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<script type="text/javascript">
$(document).ready(function() {
    $('select').material_select();
    $('#sucu_select').on('change', function() {
      $('#sucu').val($('#sucu_select').val());
    });
});
</script>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :cognome %><br>
    <%= f.text_field :cognome %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div>
  <label>Sesso</label>
  <div class="input-field col s6">
    <select id="sucu_select">
      <option value="" disabled selected></option>
      <option value="M">Male</option>
      <option value="F">Female</option>
    </select>
  </div>
  <div class="field">
    <%= f.text_field :sesso, :id => "sucu" , :hidden => true %>
  </div>
  <div class="field">
    <%= f.label :citta %><br>
    <%= f.text_field :citta %>
  </div>
  <div class="field">
    <%= f.label :provincia %><br>
    <%= f.text_field :provincia %>
  </div>
  <div class="field">
    <%= f.label :nazione %><br>
    <%= f.text_field :nazione %>
  </div>
  <div class="field">
    <%= f.label :user_id , :hidden => true%><br>
    <%= f.text_field :user_id , :value =>current_user.id , :class => 'text_field', :hidden => true%>
  </div>
  <div class="actions waves-effect waves-light btn">
    <%= f.submit %>
    <br>
  </div>
  <br>
<% end %>
