<%= form_for(@camptestum) do |f| %>
  <% if @camptestum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camptestum.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% @camptestum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descrizione %><br>
    <%= f.text_field :descrizione %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="actions waves-effect waves-light btn">
    <%= f.submit %>
  </div>
  <br>
  <br>
<% end %>
