<!DOCTYPE html>
<html>
<head>
  <title>PassMakers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
      
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<%= render "layouts/header" %>
	<div class="row">
		<br>
	  	<div class="col-xs-10 col-xs-offset-1 pink lighten-4">
	    <% flash.each do |message_type, message| %>
	  		<%= content_tag(:div, message,  class: "alert alert-#{message_type}", role: "alert") %>
		<% end %>
	  	</div>
	</div>
	<main class="container">
		<%= yield %>
		<br>
	</main>
<%= render "layouts/footer" %>
</body>
	<script type="text/javascript">
	$(".button-collapse").sideNav();
	</script>
</html>
